@model  ToDoWebApp.Models.ToDoList
@{
    ViewBag.Title = "ToDo";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ToDo</title>
    <link href="~/Content/toDo.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div class="ToDoApp">
        <style>
            form {
                display: initial;
            }
        </style>
        <div class='logoHdr'>
            <img src="Images/logo.png" alt="logo.png" />
        </div>
        <div class="contentDiv">
            <div class="headerDiv">
            </div>
            <div class="ToDoList">
                <div class="clearfix todohdr">
                    <h2 class="fleft">To Do List</h2>
                    @if (Model.Items != null)
                    {
                        <span class="fleft count">@Model.Items.Count</span>
                        <span class="fleft countcnt">COUNT</span>
                    }
                </div>
                @Html.Partial("_AddItem", new Domain.Models.ToDoItem())
                <div class="ToDoTbl">
                    @if (null != Model && null != Model.Items && Model.Items.Count > 0)
                    {
                        foreach (var todo in Model.Items)
                        {
                            <div class="clearfix ToDoRow">
                                <div class="displayContainer">
                                    <label class="fleft tdhead"><b>@todo.Name</b></label>
                                    <a href="javascript:void(0);" onClick="editToDo(this)" class="tdIcons">
                                        <img id="icon1 @todo.Name" src="Images/Edit.png" alt="Edit.png" />
                                    </a>
                                    <a href="javascript:void(0);" onClick="editToDo(this)" class="clearfix tdIcons">
                                        <h5 class=""><span class="borderleft" id="icon5 @todo.Name">Edit</span></h5>
                                    </a>
                                    @using (Html.BeginForm("Delete", "ToDo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                    {
                                        @Html.Hidden("Id", todo.Id);
                                        <a href="javascript:void(0);" class="tdIcons" onclick="$(this).closest('form').submit()">
                                            <img id="icon2 @todo.Name" src="Images/Delete.png" alt="Delete.png" />
                                        </a>
                                        <a href="javascript:void(0);" class="tdIcons" id="icon6 @todo.Name" onclick="$(this).closest('form').submit()">
                                            <h5>Delete</h5>
                                        </a>
                                    }
                                </div>
                                <div style="display:none;" class="editContainer">
                                    @using (Html.BeginForm("Update", "ToDo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                                    {
                                        @Html.Hidden("Id", todo.Id);
                                        <input class="fleft inputcls" type="text" name="Name" id="@todo.Name" value="@todo.Name" />
                                        <a href="javascript:void(0);" class="tdIcons" onclick="$(this).closest('form').submit()">
                                            <img id="icon3 @todo.Name" src="Images/save.png" alt="save.png" />
                                        </a>
                                        <a href="javascript:void(0);" class="clearfix tdIcons" onclick="$(this).closest('form').submit()">
                                            <h5 class=""><span id="icon7 @todo.Name">Save</span></h5>
                                        </a>
                                    }
                                    <a href="javascript:void(0);" onClick="cancelToDo(this)" class="tdIcons">
                                        <img id="icon4 @todo.Name" src="Images/close.png" alt="close.png" />
                                    </a>
                                    <a href="javascript:void(0);" onClick="cancelToDo(this)" class="tdIcons" id="icon8 @todo.Name">
                                        <h5>Cancel</h5>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function editToDo(obj) {
            console.log(obj);
            $(obj).parent().next().show();
            $(obj).parent().hide();
        }
        function cancelToDo(obj) {
            console.log(obj);
            $(obj).parent().prev().show();
            $(obj).parent().hide();
        }
    </script>
</body>
</html>